body {
  background: radial-gradient(circle, #001f3f, #000);
  color: gold;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.bola-container {
  margin: 40px auto;
}

.bola {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: radial-gradient(circle at top, #fff, red);
  color: white;
  font-size: 90px;
  font-weight: bold;
  line-height: 220px;
  margin: auto;
  box-shadow: 0 0 40px gold;
  animation: none;
}

.bola.animar {
  animation: pulo 0.6s ease;
}

@keyframes pulo {
  0% { transform: scale(0.5) rotate(0deg); }
  50% { transform: scale(1.2) rotate(10deg); }
  100% { transform: scale(1) rotate(0deg); }
}

button {
  padding: 15px 30px;
  font-size: 20px;
  background: gold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.historico {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.historico span {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}
#lista-sorteados {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
}

.bola-pequena {
  width: 40px;
  height: 40px;
  background: gold;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

