body {
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  color: #fff;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#bola {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: radial-gradient(circle at top, #fff, #ff0000);
  color: #000;
  font-size: 64px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
  animation: aparecer 0.5s ease;
}

@keyframes aparecer {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.botoes {
  margin: 20px 0;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#btnSortear {
  background: #28a745;
  color: #fff;
}

#btnReset {
  background: #dc3545;
  color: #fff;
}

#historico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.bola-historico {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
#listaNumeros {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  max-width: 600px;
}
.numero-sorteado {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}


