#historico {
  margin-top: 40px;
}

#listaNumeros {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.bola {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: gold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: aparecer 0.4s ease;
}

@keyframes aparecer {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
